<div class="conteiner">
    {{#if isLoggedIn}}
    <h1>Здравствуйте, {{userneme}}!</h1>
    <button>Выйти</button>
    {{else}}
    <h1>Добро пожаловать!</h1>
    <p>Пожайлуста,зарегистрируйтесь или войдите в систему.</p>
    <button>Войти</button>
    <button>Зарегистрироваться</button>
    {{/if}}

</div>